@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color: #FB923C;
  --background-color: #FFF7ED;
  --accent-color: #B96D40;
  --green-color: #DCFCE7;
  --red-color: #F87171;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-color: #ffedd5;
    --background-color: #44403c;
    --accent-color: #fb923c;
    --green-color: #DCFCE7;
    --red-color: #F87171;
  }
}

body {
  color: var(--theme-color);
  background: var(--background-color);
  text-align: center;
  margin: 0 auto;
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
